# **Theoretical Questions**

1. What are data structures, and why are they important?
* Data structures are systematic ways of organizing and storing data to facilitate efficient access and modification, playing a crucial role in programming by enabling developers to perform operations like insertion, deletion, and searching more effectively, thereby optimizing both runtime and memory usage.

2. Explain the difference between mutable and immutable data types with examples.
* Mutable data types, such as lists (e.g., my_list = [1, 2, 3]), can be modified after creation, allowing changes to their content, while immutable data types, like tuples (e.g., my_tuple = (1, 2, 3)), cannot be altered once created, ensuring that the data remains constant throughout its lifecycle.

3. What are the main differences between lists and tuples in Python?
* The primary differences between lists and tuples in Python are that lists are mutable, denoted by square brackets (e.g., [1, 2, 3]), and generally used for dynamic collections of items, whereas tuples are immutable, denoted by parentheses (e.g., (1, 2, 3)), offer faster performance due to their fixed size, and are used when a constant collection of data is needed.

4. Describe how dictionaries store data.
* Dictionaries store data as key-value pairs, where each unique key maps to a corresponding value, and they use a hash table internally to provide fast, efficient access, insertion, and deletion operations based on these keys.

5. Why might you use a set instead of a list in Python?
* You might use a set instead of a list when you need to ensure that all elements are unique and when you require faster membership testing, as sets automatically eliminate duplicate values and typically provide O(1) complexity for checking if an item is present.

6. What is a string in Python, and how is it different from a list?
* A string in Python is an immutable sequence of characters (e.g., "hello"), meaning it cannot be altered once defined, whereas a list is a mutable sequence that can contain elements of various data types (e.g., ['h', 'e', 'l', 'l', 'o']), allowing modifications such as adding, removing, or changing items.

7. How do tuples ensure data integrity in Python?
* Tuples ensure data integrity by being immutable, meaning once they are created their contents cannot be modified, which helps to prevent accidental changes and makes them reliable for storing constant sets of data that should remain unchanged.

8. What is a hash table, and how does it relate to dictionaries in Python?
* A hash table is a data structure that maps keys to values using a hash function to compute an index into an array of buckets, and it forms the underlying mechanism for Python dictionaries, enabling them to perform fast O(1) average-time lookups by key.

9. Can lists contain different data types in Python?
* Yes, lists in Python are heterogeneous, meaning they can contain elements of different data types, such as integers, strings, floats, and even other lists, allowing for versatile and dynamic collections of items.

10. Explain why strings are immutable in Python.
* Strings are immutable in Python to ensure that their content remains constant after creation, which is important for maintaining data integrity, enabling safe reuse as dictionary keys, and contributing to memory efficiency and thread safety.

11. What advantages do dictionaries offer over lists for certain tasks?
* Dictionaries offer significant advantages over lists for tasks that require fast lookups, direct access to elements via unique keys, and the organization of data into key-value pairs, which can simplify operations such as searching and updating data without the need for iterative scanning.

12. Describe a scenario where using a tuple would be preferable over a list.
* Using a tuple would be preferable over a list when you need to store a fixed collection of items that should not change, such as the coordinates of a point or the days of the week, or when you need to use the collection as a key in a dictionary because its immutability guarantees data integrity.

13. How do sets handle duplicate values in Python?
* Sets in Python automatically eliminate duplicate values by storing only one instance of each element, ensuring that every item in the set is unique and thereby facilitating operations where duplicate-free collections are necessary.

14. How does the “in” keyword work differently for lists and dictionaries?
* The “in” keyword in Python checks for membership in different ways: in lists, it searches through the elements to see if a value is present, whereas in dictionaries it checks for the existence of a key, not a value, leveraging the underlying hash table for faster lookup.

15. Can you modify the elements of a tuple? Explain why or why not.
* No, you cannot modify the elements of a tuple because tuples are immutable, meaning that once they are created, their content cannot be changed, which helps maintain data consistency and integrity.

16. What is a nested dictionary, and give an example of its use case.
* A nested dictionary is a dictionary where one or more of its values are also dictionaries, which is useful for representing complex data structures such as a database of student records where each student’s details (name, marks, etc.) are stored as a dictionary within a larger dictionary keyed by student IDs.

17. Describe the time complexity of accessing elements in a dictionary.
* The average time complexity for accessing elements in a dictionary is O(1) due to its hash table implementation, although in the worst-case scenario, due to hash collisions, it can degrade to O(n), though such cases are rare.

18. In what situations are lists preferred over dictionaries?
* Lists are preferred over dictionaries when order is important or when you are simply managing a collection of items that do not require key-based access, such as iterating over sequences or when the data structure is small and the overhead of key-value mapping is unnecessary.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
* Dictionaries were traditionally considered unordered because they did not guarantee the preservation of insertion order (prior to Python 3.7), meaning that the order of elements could not be relied upon, although data retrieval by key remains efficient; in modern Python versions, dictionaries maintain insertion order, but this order is not used to influence the performance of lookups.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
* Data retrieval in a list is based on the index position of elements, making it straightforward but sometimes less efficient for searching arbitrary values, while in a dictionary, retrieval is performed using unique keys that map directly to values, providing much faster access and more intuitive data association in cases where keys have semantic meaning.

# Practical Problem

In [ ]:
# Q1: Write a code to create a string with your name and print it
name_str = "Suneeth"
print(name_str)

Suneeth

In [ ]:
# Q2: Write a code to find the length of the string "Hello World"
hello_str = "Hello World"
print(len(hello_str))

11

In [ ]:
# Q3: Write a code to slice the first 3 characters from the string "Python Programming"
python_prog = "Python Programming"
print(python_prog[:3])

Pyt

In [ ]:
# Q4: Write a code to convert the string "hello" to uppercase
hello = "hello"
print(hello.upper())

HELLO

In [ ]:
# Q5: Write a code to replace the word "apple" with "orange" in the string "I like apple"
fruit_str = "I like apple"
print(fruit_str.replace("apple", "orange"))

I like orange

In [ ]:
# Q6: Write a code to create a list with numbers 1 to 5 and print it
num_list = [1, 2, 3, 4, 5]
print(num_list)

[1, 2, 3, 4, 5]

In [ ]:
# Q7: Write a code to append the number 10 to the list [1, 2, 3, 4]
append_list = [1, 2, 3, 4]
append_list.append(10)
print(append_list)

[1, 2, 3, 4, 10]

In [ ]:
# Q8: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
remove_list = [1, 2, 3, 4, 5]
remove_list.remove(3)
print(remove_list)

[1, 2, 4, 5]

In [ ]:
# Q9: Write a code to access the second element in the list ['a', 'b', 'c', 'd']
char_list = ['a', 'b', 'c', 'd']
print(char_list[1])

b

In [ ]:
# Q10: Write a code to reverse the list [10, 20, 30, 40, 50]
rev_list = [10, 20, 30, 40, 50]
rev_list.reverse()
print(rev_list)

[50, 40, 30, 20, 10]

In [ ]:
# Q11: Write a code to create a tuple with the elements 100, 200, 300 and print it.
num_tuple = (100, 200, 300)
print(num_tuple)

(100, 200, 300)

In [ ]:
# Q12: Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [ ]:
# Q13: Write a code to find the minimum number in the tuple (10, 20, 5, 15).
num_tuple2 = (10, 20, 5, 15)
print(min(num_tuple2))

5

In [ ]:
# Q14: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [ ]:
# Q15: Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'cherry')
print("kiwi" in fruits)

False

In [ ]:
# Q16: Write a code to create a set with the elements 'a', 'b', 'c' and print it.
char_set = {'a', 'b', 'c'}
print(char_set)

{'c', 'a', 'b'}

In [ ]:
# Q17: Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
num_set = {1, 2, 3, 4, 5}
num_set.clear()
print(num_set)

set()

In [ ]:
# Q18: Write a code to remove the element 4 from the set {1, 2, 3, 4}.
num_set2 = {1, 2, 3, 4}
num_set2.remove(4)
print(num_set2)

{1, 2, 3}

In [ ]:
# Q19: Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
# Q20: Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [ ]:
# Q21: Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "Suneeth", "age": 19, "city": "Kadapa"}
print(person)

{'name': 'Suneeth', 'age': 19, 'city': 'Kadapa'}

In [ ]:
# Q22: Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person2 = {'name': 'John', 'age': 25}
person2["country"] = "USA"
print(person2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# Q23: Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person3 = {'name': 'Alice', 'age': 30}
print(person3["name"])

Alice

In [ ]:
# Q24: Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person4.pop("age")
print(person4)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# Q25: Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person5 = {'name': 'Alice', 'city': 'Paris'}
print("city" in person5)

True

In [ ]:
# Q26: Write a code to create a list, a tuple, and a dictionary, and print them all.
sample_list = [1, 2, 3]
sample_tuple = (4, 5, 6)
sample_dict = {"a": 1, "b": 2}
print(sample_list)
print(sample_tuple)
print(sample_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [ ]:
# Q27: Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
random_list = [random.randint(1, 100) for _ in range(5)]
random_list.sort()
print(random_list)

[10, 70, 72, 89, 93]

In [ ]:
# Q28: Write a code to create a list with strings and print the element at the third index.
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(string_list[3])

date

In [ ]:
# Q29: Write a code to combine two dictionaries into one and print the result.
dict1 = {"x": 1, "y": 2}
dict2 = {"y": 3, "z": 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'x': 1, 'y': 3, 'z': 4}

In [ ]:
# Q30: Write a code to convert a list of strings into a set.
string_list2 = ["apple", "banana", "apple", "cherry"]
string_set = set(string_list2)
print(string_set)

{'banana', 'apple', 'cherry'}